*
!.dockerignore
!CONTRIBUTING.md
!SECURITY.md
!README.md
!docs/
!docs/**
!server/
!server/**
!.github/
.github/*
!.github/workflows/
.github/workflows/*
!.github/workflows/ci.yml
!.github/PULL_REQUEST_TEMPLATE.md
!.github/ISSUE_TEMPLATE/
!.github/ISSUE_TEMPLATE/*
!.github/ISSUE_TEMPLATE/bug_report.md
!android-client/
android-client/*
!android-client/Dockerfile.ci
!android-client/android/
android-client/android/*
!android-client/android/app/
android-client/android/app/*
!android-client/android/app/build.gradle
!android-client/android/app/src/
android-client/android/app/src/*
!android-client/android/app/src/main/
android-client/android/app/src/main/*
!android-client/android/app/src/main/AndroidManifest.xml
docs/node_modules
